<div>
    <h3>{{title}}</h3>
    {{#each products}}
        <p>{{this.id}}</p>
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>{{this.code}}</p>
        <p>{{this.price}}</p>
        <p>{{this.status}}</p>
        <p>{{this.stock}}</p>
        <p>{{this.category}}</p>
        <p>{{this.thumbnails}}</p>
        <hr>
    {{/each}}
</div>